<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Recurse disco Community Server</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/zero-md@3?register"></script>
    <link rel="stylesheet" href="/static/site.css">
</head>

<body>
<zero-md>
<script type="text/markdown">
<h1>
  <img src="/static/disco.svg" style="width:32px;">
  Recurse disco Community Web Server
</h1>

### Welcome, {{ user.first_name }}!!

---

{% if not found_api_key and not found_invite_url %}
An error happened. Please contact [Greg Sadetsky](mailto:lepetitg@gmail.com).
{% endif %}

{% if found_api_key %}
- You are all set up! Now run `disco github:apps:add` to connect your GitHub account.
- Pick which repos you want to manage using disco (you can change them later).
- Finally, deploy projects to the community server:
  - You will need a domain name for your project. You have 2 options:
      - OPTION 1 -- you can use any available subdomain on `rcdis.co` -- for example `coolproject.rcdis.co` or `ilovecats.rcdis.co` -- if you get an error that the domain is already used, think of another domain :-) -- please don't use your first name as the subdomain just to make sure that we have enough names to go around
      - OPTION 2 -- point your own domain name or subdomain to the community server by creating a `CNAME` record. Point that record to `recurse.letsdisco.dev`
- Then, run:

`disco projects:add --github USER/REPO --name PROJECTNAME --domain EXAMPLE.COM`

(replacing all of the uppercase values)

**Need inspiration?**

Fork this [sample Flask repo](https://github.com/letsdiscodev/example-flask-site/)

And [head to the docs](https://docs.letsdisco.dev/) to learn about all the kinds of web projects you can deploy

**And a few important housekeeping notes!**

- As this is a shared community server, please note that everyone (from Recurse) will be able to see the list of repos you chose to manage via that GitHub disco app you set up.
- Emma Smith very aptly said that on this community server, "the walls are made of glass." Don't store / host anything you wouldn't want somebody else to see.
- Lastly, please abide by Recurse Community standards. If you want to build a site to find the best batteries to throw into the ocean, please maybe don't. But if you're hosting something that you would share with other Recursers, then it's all good!! ♡

{% endif %}

{% if found_invite_url %}
- To setup disco, please first install the CLI using the following command (for Linux and macOS):

```bash
curl https://cli-assets.letsdisco.dev/install.sh | sh
```

(if you prefer to install it another way, [head to the docs](https://docs.letsdisco.dev/get-started/install-the-cli))

- Then, run the following command to join the community server:

<pre>
disco invite:accept {{ found_invite_url }}
</pre>

<a href="javascript:;" onclick="navigator.clipboard.writeText('disco invite:accept {{ found_invite_url }}'); this.innerHTML='copied!'">click here to copy the command!</a>

- Once you've done these steps, reload this page!
{% endif %}

---

<div style="display: flex;justify-content: space-between;">
    <div>
      <div>Done? <a href='/logout'>Log out</a></div>
      <div>NEW! <a href="/htop">See the htop...!!</a></div>
    </div>
    <div style="text-align: right;">
        <div><a href="https://docs.letsdisco.dev/">disco docs</a></div>
        <div>Questions, comments? <a href="mailto:lepetitg@gmail.com">Contact Greg</a></div>
    </div>
</div>

</script>        
</zero-md>
</body>

</html>