<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recurse disco Community Server</title>
    <style>
    body {
        line-height: 1.4;
        font-size: 16px;
        padding: 0 10px;
        margin: 50px auto;
        max-width: 650px;
    }

    #maincontent {
        max-width: 42em;
        margin: 15 auto;

    }
    </style>
</head>

<body>
    <div id="maincontent" style="margin-top:70px">
        <h1>Recurse disco Community Server</h1>

        <h3>Host your backend web projects, for free, on the Internet.</h3>

        <div style="margin-bottom: 40px; margin-top:40px; box-shadow: 0px 0px 8px 8px rgba(0,0,255,1);outline: none; padding: 10px; text-align: center;">Are you part of the Recurse community? <a href="/dashboard"><b>Log in!</b></a></div>

        <hr style="margin-top: 50px;">

        <div style="margin-top:60px; text-align: center;">
          <img src="/static/server1.jpg" style="width:100%;"><br/>
          The server as of May 2024 (now with an SSD and an enclosure, living under the Heap cluster).<br/><br/>
          <img src="/static/server0.jpg" style="width:100%;"><br/>
          The server when it was first set up in May 2024.
        </div>
    </div>
</body>

</html>